.cartas {
    div {
        background-color: rgb(0, 0, 0);
        padding: 35px;
        color: $color-fuentes-uno;
        text-align: center;
        row-gap: 20px;

    
    }

    
    h5 {
        text-transform: uppercase;
    }
}

.boton {
    background-color: $color-botones;
    color: black;
    margin-top: 30px;
    transition: all 0.4s;

    &:hover {
        background-color: $color-fuentes-dos;
        color: black;
        
    }
}

.card {
    border: none;
}