.hero {
    margin-top: 10rem;
    width: 100%;
    height: calc(140vh - 2rem);
    display: inline-block;
    color: $color-fuentes-dos;
    
    

    h1 {
        font-size: 4rem;
        font-style: italic;
        
        h2 {
            margin-bottom: 1rem;
            font-size: 2rem;
            
        }
    }
}